{{>layouts/header}}

{{^nickname}}
<div class="bg-dark text-white p-5">
    <h1>안녕하세요, 반갑습니다!</h1><br>
    로그인을 해 주세요!
</div>
{{/nickname}}
{{#nickname}}
    <div class="bg-dark text-white p-5">
        <h3>{{nickname}}님 환영합니다!</h3>
    </div>
{{/nickname}}

<h4>최근 공지사항</h4>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">작성일</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#articleList}}
        <tr data-href="/articles/{{id}}">
            <th scope="row">{{id}}</th>
            <td>{{title}}</td>
            <td class="createdAt">{{createdAt}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var rows = document.querySelectorAll('tr[data-href]');
        rows.forEach(function(row) {
            row.addEventListener('click', function() {
                window.location.href = row.getAttribute('data-href');
            });
        });
    });
    document.addEventListener("DOMContentLoaded", function() {
        // 모든 createdAt 요소를 선택
        var createdAtElements = document.querySelectorAll(".createdAt");

        // 각 요소를 반복 처리
        createdAtElements.forEach(function(element) {
            var createdAtText = element.textContent;
            var formattedDate = createdAtText.split('T')[0]; // T를 기준으로 잘라서 앞부분만 사용
            element.textContent = formattedDate;
        });
    });
</script>
{{>layouts/footer}}