<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Member-blog</title>
    <style>
        h1 {margin-top:50px}
    </style>
</head>
<body>
<!-- navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
    <div class="container-fluid">
        <a class="navbar-brand" href="/" >Member-Blog Web</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"
                       href="/articles">게시판</a>
                </li>

                {{^nickname}}
                <li class="nav-item">
                    <a class="nav-link"
                       href="/session-login/join">회원 가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="/session-login/login">로그인</a>
                </li>
                {{/nickname}}
                {{#nickname}}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/session-login/info">유저 정보</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/session-login/logout">로그아웃</a>
                    </li>
                {{/nickname}}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="/session-login/admin">관리자 페이지</a>
                    </li>
            </ul>
        </div>
    </div>
</nav>

{{#msg}}
    <div class="alert alert-primary alert-dismissible">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="Close"></button>
    </div>
{{/msg}}

