{{>layouts/header}}

<br/>
{{#user}}
<div class="bg-dark text-white p-5">
    <h1>유저 정보</h1>
    <div> PK: {{user.Id}}</div>
    <div> 아이디: {{user.loginId}}</div>
    <div> 닉네임: {{user.nickname}}</div>
    <div> 역할 : {{user.role}}</div>
</div>
{{/user}}
{{>layouts/footer}}