{{>layouts/header}}

<form action="/login" method="POST">
    <!-- id input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input id="form2Example1"
               class="form-control"
               name="loginId"/>
        <label class="form-label"
               for="form2Example1">Id</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password"
               id="form2Example2"
               class="form-control"
               name="password"/>
        <label class="form-label" for="form2Example2">Password</label>
    </div>

    <!-- Submit button -->
    <button data-mdb-button-init data-mdb-ripple-init
            class="btn btn-primary btn-block mb-4">Sign in</button>

    <!-- Register buttons -->
    <div class="text-center">
        <p>Not a member? <a href="/sessionLogin/join">Register</a></p>
    </div>
</form>
{{>layouts/footer}}