{{>layouts/header}}
{{#member}}
    <form class="container">
        <div class="mb-3">
            <label class="form-label" for="name">Login Id</label>
            <input type="text" class="form-control" id="name" name="name" value={{loginId}} readonly>
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">닉네임</label>
            <input type="text" class="form-control" id="email" name="email" value={{nickname}} readonly>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">비밀번호</label>
            <input type="text" class="form-control" id="password" name="password" value={{password}} readonly>
        </div>
    </form>
{{/member}}

<a href="/member/{{member.id}}/edit" class="btn btn-primary"> 회원수정 </a>
<a href="/member/{{member.id}}/delete"  id="btn-delete" class="btn btn-danger"> 회원삭제 </a>
<a href="/members"> 게시판 목록 </a>
{{>layouts/footer}}

